.container{
    background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  color: black;
  box-shadow: 0 0 10px white,
        0 0 10px white,
        0 0 10px white,
        0 0 10px white;
}
thead{
    
       background: rgba(25, 25, 255, 0.3);
        height: 40px;
        border-radius: 5px;
}
body {
    background-image: url("ff.jpeg");
  min-height: 100vh;
  width: 100%;
display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
  object-fit: cover;
animation: bgchange 30s ease infinite;
}
@keyframes bgchange {
    0%{background-image: url("f.jpeg");}
    25%{background-image: url("f2.jpeg");}
    50%{background-image: url("f.jpeg");}
    75%{background-image: url("f3.jpeg");}
    100%{background-image: url("f.jpeg");}
}